@model Dsf.Olss.Models.MaintenanceCategoryViewModel

@{
    ViewBag.Title = "Maintenance Category Detail";
}

@StatusLabel.Create(@Model.IsDraft, Model.IsSubmitted, Model.IsActive)
<a href="@Url.Action("Index", "MaintenanceCategory")" class="btn btn-white"><i class="fa fa-chevron-left"></i> Back</a>
<hr>
<div class="panel label-panel">
    <div class="row" style="padding-bottom:10px;">
        <div class="col-xs-6 col-sm-3">
            <div class="font-bold" style="padding-left:15px; float:left;"><i class="fa fa-user text-danger"></i> Created by</div><div style="float:left; padding-left:15px;">@(Model.CreatedBy)</div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-bold" style="padding-left: 15px; float: left;"><i class="fa fa-calendar text-danger"></i> Created Date</div><div style="float: left; padding-left: 15px;">@(String.Format("{0:MM/dd/yyyy}", Model.CreatedDate))</div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-bold" style="padding-left: 15px; float: left;"><i class="fa fa-user text-danger"></i> Last Modified By</div><div style="float: left; padding-left: 15px;">@(Model.LastModifiedBy)</div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-bold" style="padding-left: 15px; float: left;"><i class="fa fa-calendar text-danger"></i> Last  Modified Date</div><div style="float: left; padding-left: 15px;">@(String.Format("{0:MM/dd/yyyy}", Model.LastModified))</div>
        </div>
    </div>
</div>
@using (Html.BeginForm("Detail", "MaintenanceCategory", FormMethod.Post, new { @data_validate = "parsley" }))
{
    @Html.HiddenFor(o => o.IdMaintenanceCategory)
    @Html.HiddenFor(o => o.CreatedDate)
    @Html.HiddenFor(o => o.IsActive)
    @Html.HiddenFor(o => o.IsDeleted)
    @Html.HiddenFor(o => o.IsSubmitted)
    @Html.HiddenFor(o => o.IsDraft)
    <section class="panel">
        <header class="panel-heading">Detail Maintenance Category</header>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Maintenance Category Name</label>
                        <p class="form-control-static">@(Model.MaintenanceCategoryName ?? "-")</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(modelItem => Model.Remarks)
                        <p class="form-control-static">@(Model.Remarks ?? "-")</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            @StateButton.Create("detail", Model.IsDraft, Model.IsSubmitted, Model.IsActive)
        </div>
    </section>
}
@section Scripts{
    <script src="@Url.Content("~/Content/ui-framework/js/parsley/parsley.min.js")"></script>
    <script src="@Url.Content("~/Content/ui-framework/js/bootbox/bootbox.min.js")"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var maincatHub = $.connection.MaintenanceCategory;
        maincatHub.client.OnSaveLock = function(id) {
            if (id == '@Model.IdMaintenanceCategory') {
                bootbox.confirm("Data has been changes by other user, do you want to refresh the page?", function(result) {
                    if (result != false) {
                        location.reload();
                    }
                });
            }
        };
    </script>
}
