@model Dsf.Olss.Models.MaintenanceItemViewModel

@{
    ViewBag.Title = "Add New Maintenance Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("Index", "MaintenanceItem")" class="btn btn-white"><i class="fa fa-chevron-left"></i> Back</a>
<hr>
@Message.Display(ViewBag.Success, ViewBag.Error)
@using (Html.BeginForm("Add", "MaintenanceItem", FormMethod.Post, new { @data_validate = "parsley" }))
{
    <section class="panel">
        <header class="panel-heading">Add New Maintenance Item</header>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Item Code</label>
                        @Html.TextBoxFor(modelItem => Model.MaintenanceItemName, new { @class = "form-control", @data_required = "true", @placeholder = "Item Code", @data_parsley_maxlength = "100" })
                        @Html.ValidationMessageFor(modelItem => Model.MaintenanceItemName)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Item Name</label>
                        @Html.TextBoxFor(modelItem => Model.Remarks, new { @class = "form-control", @placeholder = "Item Name", @data_parsley_maxlength = "200" })
                        @Html.ValidationMessageFor(modelItem => Model.Remarks)
                    </div>
                </div>
            </div>
        </div>
        <footer class="panel-footer bg-light lter">
            @StateButton.Create("add")
        </footer>
    </section>
}

@section Scripts{
    <script src="@Url.Content("~/Content/ui-framework/js/parsley/parsley.min.js")"></script>
    <script src="@Url.Content("~/Content/js/Olss.js")"></script>
}